.card {
  padding: 2em;
}

a {
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  color: black;
  font-size: larger;
}

button {
  background: none;
  color: inherit;
  border: rgb(120, 212, 245);
  padding: 0.75rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1rem;
  /* margin-left: 50px; */
  font-size: 1.5em;
}
form {
  margin-top: 70px;
  margin-left: 50px;
  text-align: left;
}
form label {
  display: block;
  margin-bottom: 10px;
  margin-left: 35px;
}

form input {
  display: block;
  padding: 5px;
  margin-top: 20px;
  width: 45%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(120, 212, 245);
}

input {
  margin: 10px;
  padding: 15px;
  border: rgb(197, 226, 235);
  box-shadow: none;
  transition: border-color 0.3s ease;
  font-size: larger;
}

input:focus {
  border-color: #a3e1ee;
  outline: none;
}

img {
  max-width: 400px;
}
